<!-- Nav -->
<nav class="navbar" style="background-color: #e3f2fd;">
<nav class="navbar navbar-expand-lg">
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="paginap">Presupuesto</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="pagina2">Gastos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="pagina3">Productos</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
</nav>
<!-- final nav -->
<router-outlet></router-outlet>
